:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --color-primario: #02833f;
  --color-secundario: #b8be13;
  background-color: #ebf3f3;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.form {
  min-width: 350px;
  max-width: 600px;
}

.form>div{
  min-width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.form>div>label, .form>div>span {
  text-align: left;
  padding-bottom: 0.5rem;
}

nav>ul{
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.navbotton, button{
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}


th {
  font-size: small;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td {
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: smaller;
}

tr {
  background: #e7f4d9;
  color: #1a1a1a;
  text-align: center;
}

tr:nth-child(even) {
  background: #e7f4d957;
}

div .submitButtons {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.submitButtons button:first-child {
  width: 98%;
  height: 3rem;
  color: #1a1a1a;
  background: rgb(81, 255, 81);
}

.submitButtons button:nth-child(2) {
  width: 98%;
  color: #323232;
  background: rgb(192, 180, 114);
}

.anotherOption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anotherOptionLabel {
  margin: 0;
  width: 100%;
}

.anotherOptionLabel>input{
  width: 100%;
}

input[type="radio"]{
  border: 0px;
  cursor: pointer;
  width: 2rem;
  height: 1.3rem;
  margin: 0 8px 0 0;
}

input[type=text], input[type=number] {
  margin: 0;
  width: 80%;
  height: 1.1rem;
	border: none;
	outline: none;
	border-bottom: .15rem solid var(--color-primario);
	border-radius: .15rem .15rem 0 0;
	padding: .35rem;
	color: #000000;
}

label {
  display: flex;
  margin: 0.2rem 0 0.2rem 0;
  align-items: center;
  text-align: left;
}

/* Media query para tablets */
@media screen and (max-width: 599px) {
  #root {
    margin: 0;
    max-width: 599px;
    padding: 1rem;
  }
  h1 {
    font-size: 2.5em;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form {
    max-width: 350px;
  }
  .likert{
    overflow-x:scroll;
  }
}